html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  transition: 0.1s linear all;
}
@import url("https://fonts.cdnfonts.com/css/arial");

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: 0.1s linear all;
}

@font-face {
  font-family: garet;
  src: url("../public/Garet-Heavy.ttf");
}
@font-face {
  font-family: arial;
  src: url("https://fonts.cdnfonts.com/css/arial");
}
